:root {
    --gray: #d0d3d4;
    --blue: #187BCD;
    --orange: #f58025;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-image: linear-gradient(62deg,var(--gray), #A2AAAD);
  }
  
  .welcome-page h1 {
    font-size: 3.0em;
    font-weight: bold;
    color: var(--blue);
    align-items: left;
  }

  .welcome-page h2 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .welcome-page h3 {
    font-style: italic;
    color: var(--blue);
    padding-top: 10;
    font-size: 1.2em;
  }
  
  .welcome-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #nav-list {
    padding-left: 50px;
  }

  #navbar ul {
    list-style: none;
  }

  #navbar ul li {
    margin: 15px;
    padding: 5px;
    font-size: 1.5em;
    border: 2px solid var(--blue);
    background-color: var(--gray);
  }

  .about-section {
    padding: 20px;
  }

  .about-section h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    border: 2px solid black;
    background-color: var(--blue);
    padding: 20px;
  }

  #img-source {
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 2px 2px 5px;
  }

  #txt {
    width: 40vw;
    font-size: 1.25em;
  }

  #txt p {
    margin: 35px;
  }
  
  .contact-page {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #left-contact {
    font-size: 2em;
  }

  #right-contact {
    padding-left: 50px;
  }

  #right-contact ul {
    list-style: none;
  }

  #right-contact ul li {
    margin: 5px;
    padding: 5px;
    font-size: 2.5em;
  }
  
  .github, .linkedin, .discord, .email, .phone {
    padding: 0 10;
    font-size: 2rem;
  }
  
  a {
    text-decoration: 0;
    color: black;
  }
  
  footer {
    border-top: 5px solid var(--blue);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  